site_name: Health-RI Semantic Interoperability
site_description: Documentation of models, ontologies, and activities related to semantic interoperability within Health-RI
site_author: Pedro Paulo F. Barcelos

site_url: https://health-ri.github.io/semantic-interoperability/
repo_url: https://github.com/health-ri/semantic-interoperability/

theme:
  name: material
  font:
    text: Open Sans
    code: Fira Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.expand
    - navigation.instant
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - toc.follow
    - toc.integrate
    - search.share
  logo: assets/images/health-ri-logo-white.png
  favicon: assets/images/health-ri-favicon.png

plugins:
  - search
  - table-reader

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - footnotes
  - attr_list
  - md_in_html

extra_css:
  - assets/stylesheets/colors.css
  - ontology/assets/stylesheets/extra.css
  - assets/stylesheets/extra.css

nav:
  - Home: index.md
  - "News & Updates": news.md
  - Semantic Interoperability:
      - Overview: semantic-interoperability/index.md
  - OntoUML & gUFO:
      - Overview: ontouml-gufo/index.md
      - OntoUML: ontouml-gufo/ontouml.md
      - OntoUML Stereotypes: ontouml-gufo/ontouml-stereotypes.md
      - OntoUML/UFO Catalog: ontouml-gufo/ontouml-ufo-catalog.md
      - Creating OntoUML Models: ontouml-gufo/creating-ontouml-models.md
      - gUFO: ontouml-gufo/gufo.md
  - Method:
      - Overview: method/index.md
      - Introduction: method/introduction.md
      - Ontology:
          - Lifecycle and Validation Policy: method/ontology-validation.md
          - Note Classification and Visual Conventions: method/ontology-notes-policy.md
          - Versioning Strategy for Ontology Releases: method/ontology-versioning.md
      - Mappings:
          - Strategy: method/mapping-strategy.md
          - Schema: method/mapping-schema.md
          - Governance, Lifecycle, and Validation: method/mapping-governance.md
          - Vocabulary Specification: method/specification-vocabulary.html
      - Publications: method/publications.md
      - Persistent Identifiers: method/persistent-ids.md
  - Deliverables:
      - Overview: ontology/index.md
      - Ontology Documentation: ontology/documentation.md
      - Ontology Specification: ontology/specification-ontology.html
      - Ontology Changelog: ontology/changelog-ontology.md
      - SSSOM Mapping Set: ontology/mappings.md
  - FAQ: faq.md
  - Contributing: contributing.md
  # - Output:
  #     - Overview: output/index.md

extra:
  generator: false # disables "Made with Material for MkDocs" line
  social:
    - icon: fontawesome/solid/envelope
      link: mailto:pedro.barcelos@health-ri.nl
      name: Email
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/pedro-paulo-favato-barcelos/
      name: LinkedIn
    - icon: fontawesome/brands/github
      link: https://github.com/pedropaulofb
      name: GitHub
    - icon: material/web
      link: https://health-ri.nl
      name: Website

extra_javascript:
  - ontology/assets/javascripts/tablesort.min.js
  - ontology/assets/javascripts/init-tablesort.js
  - ontology/assets/javascripts/table-search.js
  - ontology/assets/javascripts/table-columns-toggle.js
